$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubix: "Rubik", cursive;
$primary-color : #FA2FB5;
$text-color : #100720;
$second-color : #C51350;
$yellow-color : #FFFF00;
$red-color : #ff0000;
